.categories_list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  left: 30px;
  bottom: 15px;
}

.categories_list li {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px 10px;
  border: white 2px solid;
  border-radius: 30px;
}

.quiz-card img {
  width: 70px;
  position: absolute;
  right: 30px;
  top: -20px;
}

.quiz-card {
  background-color: var(--card-color);
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  padding: 10em;
  position: relative;
  justify-content: space-around;
  height: 40em;
  min-height: 200px;
}
