.navbar {
  display: flex;
  position: fixed;
  bottom: 0;
  flex-wrap: wrap;
  background-color: var(--secondary-color);
  height: 10vh;
  width: 100vw;
  justify-content: space-around;
}

.navbar li {
  display: flex;
  padding: 10px;
}

.home_svg {
  width: 7vw;
  height: 7vh;
}

.bookmarks_svg {
  width: 7vw;
  height: 7vh;
}

.profile_svg {
  width: 7vw;
  height: 7vh;
}

.active_navbar_icon {
  background-color: var(--card-color);
}
