.subheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
  gap: 200px;
}

.name {
  font-size: 60px;
  margin-top: 50px;
}

.about_me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 400px;
  text-align: left;
  margin: auto;
}

.counter {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: 20px;
}

.counter div {
  display: flex;
}

.dark_mode {
  display: flex;
  gap: 30px;
}
