.subheader {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10%;
}

.name {
  font-size: 36px;
}

.about-me {
  margin: 0 10vw;
}

.counter {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 20%;
}

.counter div {
  display: flex;
}

.counter p {
  font-size: 24px;
}

.settings {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-top: 20%;
}

.settings p {
  font-size: 24px;
}

.darkMode-button {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
}

.profile-icon {
  width: 6em;
}
