:root {
  --primary-color: #f1a601;
  --secondary-color: gray;
  --card-color: beige;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 60px;
  text-align: center;
  color: var(--primary-color);
  text-shadow: black -2px -2px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

h3 {
  font-size: 30px;
}

.dark {
  color: white;
  background-color: black;
}
